.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}

.modal-content {
  background-color: #FFFFFF;
  width: 627px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.modal-header {
  padding: 24px 0px 16px;
  display: flex;
  align-items: center;
  margin-left: 41px;
  margin-right: 49px;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
}

.modal-action-cancel {
  background-color: transparent;
  color: #333;
  padding: 10px 20px;
  border: 0px solid #333;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.modal-action:not(:last-child) {
  margin-right: 16px;
}

.modal-action:hover {
  background-color: #026322;
  opacity: 0.9;
}

.modal-action-cancel:hover {
  background-color: #e5e5e5;
  border-color: #a3a3a3;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.close-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
  color: #333333;
}

.modal-body {
  padding: 16px;
}

.modal-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  border: 1px solid #00AA13;
  border-radius: 7px;
  padding-right: 15px;
}

.modal-item img {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  margin-right: 16px;
}

.modal-item-info {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.item-name {
  font-size: 16px;
  color: #333333;
}

.item-price {
  font-size: 16px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 41px;
  margin-right: 47px;
  border-top: 1px solid #E5E5E5;
  flex-direction: row-reverse;
}

ul.modal-items {
  padding-right: 3rem;
}

.modal-action {
  background-color: #02D72F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.concluir-compras {
  background-color: #02D72F;
  color: white;
}

.cancelar {
  background-color: transparent;
  color: #333333;
  border: 1px solid #333333;
}

@media (max-width: 768px) {
  .modal-content {
    width: 100%;
    height: 100%;
  }

  .modal-backdrop {
    align-items: center;
  }

  .modal-item-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
  }

  .modal-item img {
    margin-right: 0;
    margin-bottom: 0px;
  }
}