.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}

.modal-content {
  background-color: #FFFFFF;
  width: 427px;
  /* Ajuste para a largura desejada */
  max-height: 100vh;
  overflow-y: auto;
  padding: 45px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.close-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
  color: #333;
}

.modal-items {
  list-style: none;
  padding: 0;
}

.modal-item {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-items: center;
}

.modal-item img {
  width: 50px;
  border-radius: 10px;
  height: 50px;
  margin-right: 10px;
}

.modal-item-info {
  display: flex;
  flex-direction: row;
}

.item-name {
  font-size: 16px;
  padding-right: 110px;
  color: #333;
}

.item-price {
  font-size: 16px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-direction: row-reverse;
}

.modal-action {
  background-color: #02D72F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  flex-direction: row-reverse;
}

.modal-action-cancel {
  background-color: #02d73000;
  color: #333;  
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  flex-direction: row-reverse;
}

.modal-action-cancel:hover {
  border: solid 1px #333;
  color: #333;  
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  flex-direction: row-reverse;
}

.modal-action.cancelar {
  background-color: #ccc;
  color: #333;
}

.modal-action:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .modal-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    box-shadow: none;
  }

  .modal-backdrop {
    justify-content: center;
    align-items: center;
  }
}